<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="page-bg">
            <div class="row">
                <div class="label-text col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                    Wybierz przedmiot, do wyświetlenia tematów:
                </div>
                <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                    <select class="form-control" id="sel1"
                            ng-model="ctrl.subject"
                            ng-change="ctrl.getTopics()"
                            ng-options="course for course in ctrl.courses">
                    </select>
                </div>
            </div>
            <div class="row" ng-if="ctrl.showTopics()">
                <div class="col-md-12 col-xs-12">

                    <div class="label-text col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                        Zaznacz aktulane tematy, edytuj lub usuń:
                    </div>
                    <div ng-repeat="topic in ctrl.topics">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-3 col-xs-5 col-xs-offset-3">
                                <div>
                                    <input class="form-control"
                                           ng-model="topic.topic"
                                           ng-model-options="{updateOn: 'blur'}"
                                           ng-change="ctrl.editTopic(topic)">
                                </div>
                            </div>
                            <div class="col-md-1 col-xs-1">
                                <span class="topic-checkbox-margin">
                                    <input type="checkbox"
                                           class="checkbox"
                                           ng-model="topic.chosen"
                                           ng-change="ctrl.markTopic(topic)">
                                </span>
                            </div>
                            <div class="col-md-2 character-padding glyphicon glyphicon-minus"
                                 ng-click="ctrl.removeTopic(topic)">
                            </div>
                        </div>
                        <div class="row small-row">
                            <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                                <textarea class="text-area-vertical"
                                          ng-model="topic.description"
                                          ng-change="ctrl.editTopic(topic)"
                                          ng-model-options="{updateOn: 'blur'}">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row" ng-if="ctrl.subject">
                <div class="label-text col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                    Dodaj nowy temat do przedmiotu
                </div>
                <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                    <input class="form-control"
                           ng-model="ctrl.topic.topic">
                </div>
                <div class="col-md-2 character-padding glyphicon glyphicon-plus"
                     ng-click="ctrl.addTopic()">
                </div>
            </div>
            <div class="row small-row" ng-if="ctrl.subject">
                <div class="label-text col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                    Krótki opis tematu:
                </div>
                <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
                    <textarea class="text-area-vertical"
                              ng-model="ctrl.topic.description">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>