<div>
    <div class="form-group row col-md-10 col-md-offset-1">
        <label for="sel1">Przedmiot</label>
        <select class="form-control" id="sel1"
            ng-model="ctrl.subject"
            ng-options="subject.abbreviation for subject in ctrl.projects">
        </select>
    </div>
    <div class="row col-md-8 col-md-offset-1 form-horizontal">
        <div class="label label-status">Stan zapisów: 20/64</div>
        <div class="label label-status">Stan oczeujących: 30/64</div>
        <div class="label label-status">Stan niezapisanych: 14/64</div>
    </div>
</div>