<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="page-bg">
            <div ng-if='ctrl.showFormingTeam()'>
                <div class="row">
                    <span ng-if='ctrl.showLeaderOption()'>
                        <div class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            Zaproponuj temat:
                        </div>
                        <form name="topic">
                            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <input class="form-control"
                                       name="topicInput"
                                       size="100%"
                                       type="text"
                                       ng-model="ctrl.model.topic"
                                       typeahead-on-select="ctrl.updateDescription()"
                                       uib-typeahead="topic.topic as topic.topic for topic in ctrl.topics | filter:{topic:$viewValue}
                                            | limitTo:8"
                                       placeholder="Temat">
                            </div>
                            <div class="col-md-2 character-padding glyphicon glyphicon-ok"
                                 ng-show="topic.topicInput.$dirty"
                                 ng-click="ctrl.saveTopic(topic)">
                            </div>
                        </form>
                         <div class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            Opis tematu:
                        </div>
                        <form name="description">
                            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <textarea class="text-area-vertical"
                                          name="descriptionTextarea"
                                          ng-model="ctrl.model.description"
                                          ng-change="ctrl.editTopic(topic)">
                                </textarea>
                            </div>
                            <div class="col-md-2 character-padding glyphicon glyphicon-ok"
                                 ng-show="description.descriptionTextarea.$dirty"
                                 ng-click="ctrl.saveDescription(description)">
                            </div>
                        </form>
                        <div class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2"
                             ng-if="ctrl.showNewStudent()">
                            Dodaj osobe do projektu:
                        </div>
                        <span ng-if="ctrl.showNewStudent()">
                            <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <input class="form-control"
                                       type="text"
                                       ng-model="ctrl.newPerson"
                                       uib-typeahead="student as student.name for student in ctrl.students | filter:{name:$viewValue}
                                        | limitTo:8"
                                       placeholder="Imie nazwisko">
                            </div>
                            <div class="col-md-2 character-padding glyphicon glyphicon-plus"
                                 ng-click="ctrl.addStudent()">
                            </div>
                        </span>
                    </span>
                    <div ng-if='!ctrl.showLeaderOption()'
                         class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        Temat projektu: {{ctrl.model.topic}}
                    </div>
                    <div ng-if='!ctrl.showLeaderOption()'
                         class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        Opis tematu: {{ctrl.model.description}}
                    </div>
                    <div class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" ng-if="ctrl.showStudentsStates()">
                        Proponowana liczba osób: {{::ctrl.model.minNumberOfStudents}} - {{::ctrl.model.maxNumberOfStudents}}
                    </div>
                    <div class="label-text col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        Do projektu należa:
                    </div>
                    <div ng-repeat="student in ctrl.model.students">
                        <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="label-bold">{{student.name}}
                                <span ng-if="ctrl.showStudentsStates()"> -
                                    <span ng-if="student.accepted">zaakceptowany</span>
                                    <span ng-if="!student.accepted">oczekujący</span>
                                </span>
                            </span>
                        </div>
                        <div class="col-md-2 character-padding glyphicon glyphicon-minus"
                             ng-if="ctrl.showLeaderOption()"
                             ng-click="ctrl.deleteStudent(student)"></div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2"
                         ng-if='ctrl.showSendButton()'>
                        <button type="button"
                                class="btn btn-nav"
                                ng-click="ctrl.acceptTeam()">Wyślij
                        </button>
                    </div>
                </div>
            </div>
            <div ng-if='ctrl.showAcceptedTeam()'>
                <div class="small-row">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <div>
                            <span class="label-text">Strona projektu:</span>
                            <button type="button" class="btn btn-nav" ng-click="ctrl.goGitlab()">GitLab</button>
                        </div>
                    </div>
                </div>
                <div class="small-row">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <span class="label-text">Temat:</span>
                        <span class="label-data">{{ctrl.model.topic}}</span>
                    </div>
                </div>
                <div class="small-row">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <span class="label-text">Opis tematu:</span>
                        <span class="label-data">{{ctrl.model.description}}</span>
                    </div>
                </div>
                <div class="small-row">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <span class="label-text">Ilosc punktów:</span>
                        <span class="label-data">{{ctrl.model.points}}</span>
                    </div>
                </div>
                <div class="small-row">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <span class="label-text">Członkowie:</span>
                        <div ng-repeat="student in ctrl.model.students">
                            <span class="label-data">{{student.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="small-row" ng-if="ctrl.model.dates">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <div>
                            <span class="label-text">Terminy:</span>
                            <span class="row small-row">
                                <span class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                                    <table width="100%">
                                        <thead>
                                            <th>Data</th>
                                            <th>Ilość punktów</th>
                                            <th>Opis</th>
                                        </thead>
                                        <tbody ng-repeat="deadline in ctrl.model.dates">
                                            <td>{{deadline.date}}</td>
                                            <td>{{deadline.points}}</td>
                                            <td>{{deadline.description}}</td>
                                        </tbody>
                                    </table>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if='ctrl.showJoinToTeam()'>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <span class="label-text">Czy chcesz zaakcpetować zaproszenie do zespołu?</span>
                    </div>
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <button type="button"
                                class="btn btn-accept"
                                ng-click="ctrl.acceptRequest()">Zaakceptuj
                        </button>
                        <button type="button"
                                class="btn btn-reject"
                                ng-click="ctrl.rejectRequest()">Odrzuc
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <email title="Napisz e-mail"
                           addresses="ctrl.model.mailAddresses">
                    </email>
                </div>
            </div>
        </div>
    </div>
</div>
