<table class="table table-hover">
	<thead>
		<th>Numer</th>
		<th>Przedmiot</th>
		<th>Nazwa projekty</th>
		<th>Prowadzacy projekt</th>
		<th>Data oddania nastepnej częsci</th>
		<th>Status</th>
	</thead>
	<tbody ng-repeat="row in ctrl.model.projects">
		<tr ng-click = 'ctrl.click(row)' class="pointer">
			<th>{{$index+1}}</th>
			<td>{{row.courseName}}</td>
			<td>{{row.projectName}}</td>
			<td>{{row.tutor}}</td>
			<td>{{row.date}}</td>
			<td>{{ctrl.translate(row.state)}}</td>
		</tr>
	</tbody>
</table>