<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
        <div class="page-bg">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <div>
                        Strona projektu:
                        <button type="button" class="btn btn-nav">GitLab</button>
                    </div>
                    <div>
                        Ilosc punktów:
                    </div>
                    <div>
                        Członkowie:
                        <ui>
                            <li>Jan Kowalski (zamien) (usun)</li>
                            <li>Jan Kowalski (zamien) (usun)</li>
                            <li>dodaj</li>

                        </ui>
                    </div>
                    <div>
                        Temat
                    </div>
                    <div>
                        Termin
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <label for="sel1">Wybierz do kogo wysłać maila</label>
                    <select class="form-control" id="sel1">
                        <option>Prowadzący projekt</option>
                        <option>Prowadzący przedmiot</option>
                    </select>
                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <email title="Napisz e-mail"></email>
                </div>
            </div>
        </div>
    </div>
</div>
