<table class="table table-hover">
	<thead>
		<th>Numer</th>
		<th>Przedmiot</th>
		<th>Nazwa projekty</th>
		<th>Data oddania nastepnej częsci</th>
	</thead>
	<tbody>
		<tr ng-repeat="row in ctrl.model" ng-click = 'ctrl.click(row.teamId)' class="pointer">
			<th>{{$index+1}}</th>
			<td>{{row.courseName}}</td>
			<td>{{row.topic}}</td>
			<td>{{row.deadlineDate}}</td>
		</tr>
		<tr>
			<td colspan="6" ng-click = 'ctrl.newTeam()' class="pointer">
				Dodaj nowy zespół
			</td>
		</tr>
	</tbody>
</table>