<div class="row ">
    <div class="col-md-12 col-xs-12">
        <div class="email-margin">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td class="navbar navbar-inverse" align="center">
                        <table cellspacing="0" cellpadding="3">
                            <tr>
                                <td colspan="4" class="title">{{ctrl.title}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" align="center">
                        <table cellspacing="0" cellpadding="3">
                            <tr>
                                <td>
                                    <input class="form-control" size="100%" type="text" placeholder="Tytuł maila">
                                    </input>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" align="center">
                        <table cellspacing="0" cellpadding="3">
                            <tr>
                                <td>
                                    <textarea class="form-control" rows="10" cols="100" ng-model="ctrl.mail" style="resize:none" placeholder="Tresc maila">
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
