<nav class="navbar navbar-default pointer"  ng-click='ctrl.click()'>
    <div class="container-fluid">
        <p class="navbar-text color">Signed in as {{ctrl.model.name}} {{ctrl.model.lastName}}</p>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <p>
                    <li>
                        <button type="button" class="btn btn-nav">Wyloguj się</button>
                    </li>
                </p>
            </ul>
        </div>
        </form>
    </div>
</nav>
