<div class="row">
    <div class="col-md-10 col-md-offset-1 page-bg">
        <div class="row">
            <div class="form-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                <label for="sel1">Wybierz zespół</label>
                <select class="form-control" id="sel1">
                    <option>Zespół A</option>
                    <option>Zespół B</option>
                </select>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                        <span style="text-align:left;
                           display:block;">
                            Do zespołu A należa:
                        </span>
                    </div>
                    <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                        <ul>
                            <li>Jacek Kowalski (zamien)</li>
                            <li>Jacek Kowalski (zamien)</li>
                            <li>Jacek Kowalski (zamien)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                    <input class="form-control" size="100%" type="text" placeholder="Temat projektu">
                    </input>
                </div>
            </div>
            <div class="row" <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                <button type="button" class="btn btn-new">Dodaj zespół</button>
            </div>
        </div>
    </div>
</div>
